/*顶部提示条*/
.m-tips{width: 100%; height: 36px; background: #f3f3f3; line-height: 36px;}
.m-tips p{display: block; width: 1200px; margin: 0 auto;}
.m-tips a{color: #21a557;}
.m-tips span{float: right;cursor: pointer;}
.m-tips span:before{content: url(../imgs/close.png);}

.box{width: 100%;height: auto;background: #fff;}

/*head*/
.head{width: 1200px; height: 90px; line-height: 90px; margin: 0 auto; position: relative;background: #fff;}
.head div,.head .nav ul li{float: left;}
.head .logo .en-name{padding-right:10px; margin-right: 10px; font-weight: bold; color: #21a557; border-right: 1px solid #21a227;}
.head .logo{font-size: 22px; margin: 0 30px 0 0;}
.head .follow span{width: 52px; height: 21px; padding: 5px 8px; line-height: 12px; margin-right: 20px; background: #21a557; color: #fff; border-radius: 2px; cursor: pointer;}
.head #unfollowbtn{background: #f8f8f8;border: 1px solid #efefef;color: #333;}
.head #unfollowbtn i{color: #999;cursor: pointer;}
.head #unfollowbtn i:hover{color: #21a557;text-decoration: underline;}
.head .nav{float: right; font-size: 16px; color: #666; margin-right: 60px;}
.head .nav ul li{margin-left: 60px;}
.head .search{position: absolute; right: 0; top: 50%; margin-top: -11px; width: 22px; height: 22px; float: right; background: url(../imgs/search.png);}
.head .search:hover{background: url(../imgs/search-hover.png); cursor: pointer;}

/*slide*/
#slide{width: 1600px;height: 460px; overflow: hidden; margin: 0 auto; position: relative;}
#slide ul.slide-item{position:relative;overflow:hidden;width: 1600px;height: 460px;}
#slide ul.slide-item li{position: absolute;top: 0;left: 0;display: none;}
#slide ul.slide-item li.current{display: block;}
#slide .slide-indicators{position: absolute; bottom: 30px; left: 50%; margin-left: -39px;}
#slide ul.slide-indicators li{float: left; width: 10px; height: 10px; background: #fff;margin-right: 16px;border-radius: 5px;cursor: pointer;} 
#slide ul.slide-indicators li.current{background: #333;}

/*products-list*/
.products-list{width: 1200px;margin:0 auto; font-size: 14px; line-height: 24px;padding: 60px 0;}
.products-list-content{float: left;margin-left: 60px; width:360px;}
.products-list-content:first-child{margin-left: 0;}
.products-list-content .openclass{width: 80px; height: 80px; background: url(../imgs/prod1.png);float: left;}
.products-list-content .cloundclass{width: 80px; height: 80px; background: url(../imgs/prod2.png);float: left;}
.products-list-content .mooc{width: 80px; height: 80px; background: url(../imgs/prod3.png);float: left;}
.products-list-content h3{font-size: 22px;font-weight: normal;margin-bottom: 20px;}
.products-list-content .intro{margin-left: 100px;}
.products-list-content .intro a{color: #21a557;}
.products-list-content .intro p{color: #666;margin-bottom: 20px; text-align: justify;}
.products-list-content .intro a:hover{text-decoration: underline;}


/*图片行*/
.images-display-area{width: 1650px;height: 228px;overflow: hidden; margin: 0 auto;}
.images-display-area ul li{float: left;margin-right: 5px;}

/*课程内容区*/
.content{width: 1200px;margin: 60px auto;}
.content-list{display: block;width: 400px;height: 50px;box-shadow: 0 1px 1px #999;font-size: 20px;line-height: 50px;margin-bottom: 30px;}

.coursebox{float: left;width: 980px;}

.content-list a{width: 200px; text-align: center;float: left;}
.content-list a.active{background: #21a557;color: #fff;}
.content-side{width: 100%; height: 1280px;position: relative;}
.course{width: 225px; height: 228px; background-color: #fff; padding: 0 5px;box-sizing: border-box; margin:  0 20px 20px 0;float: left;}
.course img{width: 215px; height: 124px;margin-bottom: 10px;}
.course span{margin-bottom: 10px; display: block;}
.course .name{display: block;width: 210px;height: 12px; line-height: 12px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; }
.course .provider{color: #999;}
.course .learnerCount{width: auto; height: 16px; border: 1px solid #ddd;border-radius: 2px;line-height: 16px; color: #999;font-size: 8px;display: inline-block;}
.course .learnerCount img{width: 16px;height: 16px;vertical-align: text-top;}
.course .price{color: #fc0000;font-weight: bold;}

.page{float: right; width: 320px;height: 20px;line-height: 20px;text-align: center;cursor: pointer;}
.page ul li{display: block; float: left;width:20px;height: 20px;margin-right: 10px;cursor: pointer;text-align: center;}
.page ul li:hover{background: #9dd8b1;color: #fff;}
.page ul li.active{background: #9dd8b1;color: #fff;}
.page .pagebutton{float: left; width: 30px;height: 20px;margin-right: 10px; background: #9dd8b1;color: #fff;}

.hot-list{float: right;width: 220px;height: auto;overflow: hidden;}
.hot-list .video{height: 229px;width: 100%;background: #fff;margin-bottom: 20px;}
.hot-list .video img{width: 180px;height: 110px;padding-left: 20px;}
.hot-list span.title{display: block; height: 55px; width: 100%;border-bottom: 1px solid #ddd;font-size: 16px;line-height: 55px;margin-bottom: 20px;padding-left: 20px;}
.hot-list .video p{margin-bottom: 10px;padding-left: 20px;}

.hot-list .list{width: 100%;height: 776px;;background: #fff;}
.hot-list .list .hotlistwarp{width: 200px;height: 50px;margin: 0 0 20px 20px;;}
.hot-list .list .hotlistwarp img{display: block;float: left; width: 50px; height: 50px;margin-right: 12px;}
.hot-list .list .hotlistwarp .listname{display: block; width: 122px;height: 14px;font-size: 14px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;margin-bottom: 12px;padding: 0;}
.hot-list .list .hotlistwarp .listlearner img{width: 16px;height: 16px;vertical-align: text-top;}

/*footer*/
.footer{width: 100%;height: 260px; background: #2c3339;color: #a2a4a5;padding-top: 80px;}
.f-content{width: 1200px;height: 100%;margin: 0 auto;}
.footer-logo{float: left;margin:0 150px 0 50px;;}
.footer-logo p{color: #a2a4a5;line-height: 25px;}
.footer-logo span{color:#21a557;font-size: 22px;margin-bottom: 30px;display: block;}
.footer-logo  span i{font-weight: bolder;}
.f-warp{float: left;}
.f-warp ul{display: block;float: left;font-size: 14px;margin-right: 100px;cursor: pointer;}
.f-warp ul li:first-child{font-size: 12px;pointer-events: none;}
.f-warp ul li{line-height: 30px;}
.f-warp ul li:hover{text-decoration: underline;}

/*登陆*/
#login-warp{position: fixed; top: 0;left: 0; width: 100%;height: 100%;background: rgba(0,0,0,0.8);}
.login{position: fixed;top: 50%;left: 50%;margin: -150px 0 0 -200px; width: 400px;height: 300px;background: #fff;padding: 0 40px;box-sizing: border-box;}
#iconclose{position: absolute;top: 12px; right: 12px;font-size: 16px;cursor: pointer;}
.login h2{font-size: 18px;margin: 40px 0 20px 0;}
.login input{margin-bottom: 20px;width: 300px;height: 45px;border: 1px solid #e4e4e4;border-radius: 4px;padding-left: 10px;}
#login-btn{width: 310px; height: 45px;text-align: center;line-height: 45px;color: #fff;background: #21a557;border-radius: 4px;box-shadow: 1px 1px 2px #848484;font-size: 16px;cursor: pointer;}